body
  background-color #FFFFF0

.word
  font-size: x-large

.definitions
  margin 10px
  margin-bottom 30px

.index
  display: inline
  width: 20px
  margin-right: 10px

.definition
  display: inline

.audio
  margin-left: 10px
