.admin-new-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 36rem;
}

.inputs-with-label,
.form-array,
.form-array-item,
.table-inputs,
.admin-items-table form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputs-with-label > .label {
  font-size: 0.9rem;
}

.form-array-row {
  display: flex;
  gap: 0.5rem;
}

.form-array-item:has(> *:not([hidden]) + *:not([hidden])) {
  margin-bottom: 0.5rem;
}

.form-array-remove {
  align-self: center;
}

.form-array-item {
  flex: 1 1 auto;
}

.form-array-add {
  align-self: start;
}

.admin-items-table {
  width: 100%;
}

.admin-new-form + .admin-items-table {
  margin-top: 4rem;
}

.admin-items-table th,
.admin-items-table td {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--border-light-color);
}

.admin-items-table th {
  vertical-align: bottom;
  font-weight: bold;

  position: sticky;
  top: 0px;
  z-index: 100;
  background: var(--bg-light-color);
}

.input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  background: var(--bg-color);
  border: 1px solid var(--border-light-color);
  border-radius: 0.375rem;
  transition: box-shadow 0.2s ease-in-out;
  appearance: none;
}

textarea.input {
  min-height: 4.5rem;
  field-sizing: content;
  resize: none;
}

.input[type="color"] {
  height: 2.5rem;
  padding: 0;
}

.input[type="color"]::-webkit-color-swatch-wrapper,
.input[type="color"]::-webkit-color-swatch {
  border: none;
  padding: 0;
}

.input[type="color"]::-moz-color-swatch {
  border: none;
  padding: 0;
}

.input-color {
  display: flex;
  gap: 0.5rem;
}

.input-color > .input[type="color"] {
  flex: 0 0 2.5rem;
}

.input-color > .input[type="text"] {
  flex: 1;
}

.input[type="file"] {
  cursor: pointer;
  overflow: hidden;
}

.input::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem 0.75rem -0.375rem -0.75rem;
  background: var(--bg-light-color);
  border: none;
  border-right: 1px solid var(--border-light-color);
  border-radius: 0;
  transition: background 0.2s ease-in-out;
  pointer-events: none;
}

.input:hover::file-selector-button {
  background: var(--border-light-color);
}

select.input {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  background:
    no-repeat padding-box right 0.75rem center / auto 1.25rem
    url("/static/icons/caret-down.svg") var(--bg-color);
}

.input::placeholder,
select.input:invalid,
select.input > *:disabled {
  opacity: 1;
  color: var(--text-mutest-color);
}

select.input > *:not(:disabled) {
  color: var(--text-color);
}

.input-check {
  width: 1.25rem;
  height: 1.25rem;
  background: no-repeat center / contain;
  border: 1px solid var(--border-light-color);
  border-radius: 0.25rem;
  appearance: none;
  transition:
    background 0.2s ease-in-out,
    border 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.input-check:checked {
  border: 1px solid #0d6efd;
  background: no-repeat center / contain url("/static/icons/check.svg") #0d6efd;
}

.input:focus-visible,
.input-check:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--border-light-color);
}
