extends _frame
include ../_expeditieMedia

block title
    title Expeditie - Afkowobo

block content
    .row.pb-5
        .col-12
            .h1 Het enige echte afkortingenwoordenboek der Expediets

    .row.pb-5
        each afko in afkos
            .col-12.col-xl-9.pb-4(id=generateSimple(afko.afko))
                .h2.pb-2
                    span #{afko.afko}&#32;
                ol.serif
                    each definition, index in afko.definitions
                        li.pb-1 !{marked(definition)}
            .col-12.col-xl-3.pb-4
                +filePlayer(afko.attachment_file)
