extends _frame
include ../_expeditieMedia

block title
    title Expeditie - Woordenboek

block content
    .row.pb-5
        .col-12
            .h1 Het Grote Woordenboek der Expediets

    .row.pb-5
        each word in dictionary
            .col-12.col-xl-9.pb-4(id=word.id)
                .h2.pb-2
                    span #{word.word}&#32;
                    if (word.phonetic)
                        small.text-muted [#{word.phonetic}]
                ol.serif
                    each definition, index in word.definitions
                        li.pb-1 !{marked(definition)}
            .col-12.col-xl-3.pb-4
                +filePlayer(word.attachment_file)
