extends main

append body
    .container.pt-5
        .row
            .col-12.col-sm-6.col-lg-4
                .card.mb-3
                    .card-body
                        h5.card-title Hoofdpagina
                        p.card-text Alle Expedities (en verborgen videos)
                        a.card-link(href='/') Open

            .col-12.col-sm-6.col-lg-4
                .card.mb-3
                    .card-body
                        h5.card-title Woordenboek
                        p.card-text Het Grote Woordenboek der Expediets
                        a.card-link(href='/leden/woordenboek') Open

            .col-12.col-sm-6.col-lg-4
                .card.mb-3
                    .card-body
                        h5.card-title Citaten
                        p.card-text De Lange Citatenlijst der Expeditie Grensland
                        a.card-link(href='/leden/citaten') Open

            .col-12.col-sm-6.col-lg-4
                .card.mb-3
                    .card-body
                        h5.card-title De Punt'n
                        p.card-text Welk team is het vurigst? Blauw, of Rood?
                        a.card-link(href='/leden/punten') Open
