extends _frame

append content
    .row
        each link in links
            .col-12.col-sm-6.col-lg-4
                .card.mb-3.bg-light
                    .card-body
                        h5.card-title= link.title
                        p.card-text= link.text
                        a.card-link(href=link.href) Open
