extends main

append body
    .container.pt-5
        .row
            .col-12.col-sm-6.col-lg-4
                .card.mb-3
                    .card-body
                        h5.card-title Woordenboek
                        p.card-text Het Grote Woordenboek der Expedities
                        a.card-link(href='/leden/woordenboek') Open

            .col-12.col-sm-6.col-lg-4
                .card.mb-3
                    .card-body
                        h5.card-title Citaten
                        p.card-text De Lange Citatenlijst der Expeditie Grensland
                        a.card-link(href='/leden/citaten') Open
