extends main

append body
    .container.pt-5
        .row
            each link in links
                .col-12.col-sm-6.col-lg-4
                    .card.mb-3
                        .card-body
                            h5.card-title= link.title
                            p.card-text= link.text
                            a.card-link(href=link.href) Open
