extends ../main

block title
    title Expeditie - Log In

append styles
    link(rel='stylesheet' href='/static/styles/members/all.css')
    link(rel='stylesheet' href='/static/styles/members/login.css')

block body
    .container

        form.form-login(action='/leden/login' method='post')
            h2.form-login-heading Inloggen

            if messages
                each message in messages
                    .alert.alert-danger(role='alert') !{message}

            label(for='username' class='sr-only') Gebruikersnaam
            input.form-control(type='text' id='username' name='username' placeholder='Gebruikersnaam' required autofocus)
            label(for='password' class='sr-only') Wachtwoord
            input.form-control(type='password' id='password' name='password' placeholder='Wachtwoord' required)
            input.btn.btn-lg.btn-primary.btn-block(value='Log In' type='submit')
