extends ../main

block title
    title Expeditie - Log In

append styles
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    link(rel='stylesheet' href='/static/styles/members/login.css')

append scripts
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')

block body
    .container

        form.form-login(action='/leden/login' method='post')
            h2.form-login-heading Inloggen

            if messages
                each message in messages
                    .alert.alert-danger(role='alert') !{message}

            label(for='username' class='sr-only') Gebruikersnaam
            input.form-control(type='text' id='username' name='username' placeholder='Gebruikersnaam' required autofocus)
            label(for='password' class='sr-only') Wachtwoord
            input.form-control(type='password' id='password' name='password' placeholder='Wachtwoord' required)
            input.btn.btn-lg.btn-primary.btn-block(value='Sign in' type='submit')
