extends _frame

block title
    title Expeditie - Log In

block content
    .row
        .col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-4
            .card
                .card-body
                    h4.card-title Inloggen
                    hr
                    if messages
                        each message in messages
                            p.text-danger.text-center= message

                    form(action='/leden/login' method='POST')
                        .form-group
                            .input-group
                                .input-group-text
                                    span.fas.fa-fw.fa-user
                                input.form-control(type='text' name='username' placeholder='Gebruikersnaam' required autofocus)

                        .form-group
                            .input-group
                                .input-group-text
                                    span.fas.fa-fw.fa-key
                                input.form-control(type='password' name='password' placeholder='Wachtwoord' required)

                        .form-group
                            input.btn.btn-primary.btn-block(value='Log In' type='submit')
