extends ../main

block title
    title Expeditie - Leden

append styles
    link(rel='stylesheet' href='/static/styles/members/all.css')

block body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        span.navbar-brand Expeditie Grensland
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Schakel navigatie')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') !{user.name}
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
                        a.dropdown-item(href='/leden/loguit') Log uit

