extends main

block title
    title Expeditie - De Punt'n

append styles
    link(rel='stylesheet' href='/static/styles/members/points.css')

append body
    .container.pt-5
        .row.align-items-start.d-flex.pb-5
            .col-auto.mr-auto
                figure.figure.team
                    img.figure-img.rounded(src='/static/images/KZ.png' alt='Team Blauw')
                    figcaption.figure-caption.text-center Team Blauw

            .col-auto
                h1.display-4
                    span.score.no-wrap.text-right 28
                    span.dash.text-center &ndash;
                    span.score.no-wrap-text-left 33

            .col-auto.ml-auto
                figure.figure.team
                    img.figure-img.rounded(src='/static/images/KG.png' alt='Team Rood')
                    figcaption.figure-caption.text-center Team Rood

        .row.pb-2
            .col-12
                .expeditie-heading
                    span.text-muted.text-uppercase.font-weight-bold Expeditie Op Naar de Stans

        .row.pb-1
            .col-12
                span
                    strong.points +9&#32;
                    span M.G. Meedendorp&#32;
                span.text-muted (01-08)

        .row.pb-4
            .col-12
                span
                    strong.points +9&#32;
                    span M.G. Meedendorp&#32;
                span.text-muted (01-08)

        .row.pb-4
            .col-12.text-right
                span.text-muted (01-08)&#32;
                span
                    span R.B. Kremer&#32;
                    strong.points +9

        .row.pb-2
            .col-12
                .expeditie-heading
                    span.text-muted.text-uppercase.font-weight-bold Expeditie Japan
