extends _frame
include ../_expeditieMedia

block title
    title Expeditie - Première

block content
    .row.pb-5
        .col-12
            .h1
                span Expeditie Grensland Filmpremière

    source(src='/media/5ea813917292d565b3b2b4ba.mp4' type='video/mp4')
