extends _frame
include ../_expeditieMedia

block title
    title Expeditie - Citaten

block content
    .row.pb-5
        .col-12
            .h1
                span De Lange Citatenlijst der Expeditie Grensland&#32;
                small.text-muted Eerste Editie

    .row.pb-5
        each quote in quotes
            .col-12.col-lg-9.pb-5(id=generateSimple(quote.quote))
                .h2.pb-2
                    span &ldquo;#{quote.quote}&rdquo;&#32;
                    small.text-muted &#8213;&nbsp;#{quote.quotee}
                span !{marked(quote.context)}
            .col-12.col-xl-3.pb-4
                +mediaFilePlayer(quote.mediaFile)
