script(src="/socket.io/socket.io.js")
script(src="scripts/sockets/Sockets.js")
script(src="scripts/sockets/SocketHandler.js")
script(src="scripts/database/Tables.js")
script(src="scripts/RouteHome.js")