script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin="")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/socket.io/socket.io.js")
script(src="scripts/sockets/sockets.js")
script(src="scripts/sockets/socketHandler.js")
script(src="scripts/database/tables.js")
script(src="scripts/main.js")