script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://code.jquery.com/jquery-migrate-3.0.1.js")
script(src="/socket.io/socket.io.js")
script(type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
script(src="scripts/sockets/Sockets.js")
script(src="scripts/sockets/SocketHandler.js")
script(src="scripts/database/Tables.js")