script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/socket.io/socket.io.js")
script(src="scripts/sockets/sockets.js")
script(src="scripts/sockets/socketHandler.js")
script(src="scripts/database/tables.js")
script(src="scripts/main.js")