link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto")
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css')
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
link(href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet")

link(rel='stylesheet' href='styles/main.css' type='text/css')
link(rel='stylesheet' href='styles/slick.css' type='text/css')
