link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto")
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css')
link(rel='stylesheet' href='styles/main.css' type='text/css')
link(rel='stylesheet' href='styles/mobile.css' type='text/css' media="screen and (max-width: 720px)")