DATABASE_URL="postgresql://username:password@hostname:5432/database"
REDIS_URL="redis://hostname:6379/0"
SESSION_SECRET="a_very_secret_string"
SESSION_TTL="2592000"
LDAP_URL="ldap://hostname:389"
LDAP_DN="uid={{username}},ou=Unit,dc=hostname,dc=tld"
LDAP_FILTER="(o=Expeditie Grensland)"
LDAP_IDFIELD="uid"
MEDIAFILE_BASE_URL="/media"
