DATABASE_URL="postgresql://username:password@host:5432/database"
SESSION_URL="redis://host:6379/0"
SESSION_PREFIX="session:"
SESSION_SECRET="a_very_secret_string"
SESSION_TTL="2592000"
MEDIAFILE_BASE_URL="/media"
