extends ../_frame

block styles
    link(rel='stylesheet' href='/static/styles/public.css')

block scripts
    script(src='/static/scripts/public.js')

block body
    .container.text-center
        nav.navbar.navbar-dark.navbar-expand
            if !isHome
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/") &larr;&nbsp;Home

            if !noLoginLink
                if !user
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href="/leden/login") Log In

                if user
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href="/leden")= `${user.firstName} ${user.lastName}`

        block content
