extends _frame
include ../_expeditieMedia

block title
    title Expeditie Grensland

block content
    .row
        .col
            a.img-large.ratio(href=`/${expedities[0].nameShort}`)
                +innerImage(expedities[0])


    .row
        .col-12.midtitle
            span Voorgaande Expedities
        each expeditie in expedities.slice(1)
            .col-12.col-md-6.col-lg-4
                a.img-small.ratio(href=`/${expeditie.nameShort}`)
                    +innerImage(expeditie)
