.team > img
  width: 100%
  max-width: 100px

.dash
  display: inline-block
  width: 1.5em

.score
  display: inline-block
  width: 1.75em

.expeditie-heading
  text-align: center
  position: relative
  z-index: 1

  &:before
    border-top: 2px solid #eee
    content: ''
    margin: 0 auto
    position: absolute
    top: 50%
    left: 0
    right: 0
    bottom: 0
    width: 100%
    z-index: -1

  span
    display: inline-block
    text-align: center
    background: #fff
    padding: 0 15px

strong.points
  display: inline-block
  width: 2.25em
