doctype html
html
    head
        include ../../public/favicon/include.html

        meta(name="viewport" content="height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0")

        block title
        block styles

    body
        block body
        block scripts
