extends generic.pug

block scripts
    include ../includes/scripts.pug

block styles
    include ../includes/styles.pug

block title
    title Expeditie

block body
    //#header
    //    block header
    //        | *********HEADER*********

    #content
        block content

    //#footer
    //    block footer
    //        | *********FOOTER*********