extend structure/simple.pug

block title
    title Expeditie - Home

block scripts
    include includes/scripts.pug
    script(src="scripts/home.js")

block body
    #columns
        each expeditie in expedities
            .column
                .background(style="background-color: " + expeditie.color + "; background-image: url(" + expeditie.background_image + "); background-position: " + expeditie.background_position.x + "% " + expeditie.background_position.y + "%")
                .expeditie(id=expeditie.name)
                    h1= expeditie.name
                    h2= expeditie.year
    #closeOverlay.hidden &times;