extend structure/simple.pug

block title
    title Expeditie - Home

block body
    -
        var expedities = [
        {
            "name": "Noordkaap",
            "color": "#377eb8"
        },
        {
            "name": "Balkan",
            "color": "#e41a1c"
        },
        {
            "name": "Kaukasus",
            "color": "#ff7f00"
        }
        ]
    each expeditie in expedities
        div(id= "column" + expeditie.name class="column" style="background-color: " + expeditie.color)