extend structure/simple.pug

block scripts
    include includes/scripts.pug
    script(src="scripts/map/MapHome.js")

block styles
    include includes/styles.pug
    style(type="text/css")
        | !{svgCSS}

block title
    title Expeditie - Home

block content
    div(id="map")
        include includes/world.pug

