extend structure/simple.pug

block title
    title Expeditie - Home

block body
    -
        var expedities = [
            {
                "name": "Noordkaap", //TODO: localized name
                "link": "/noordkaap",
                "year": "2015",
                "color": "#377eb8"
            },
            {
                "name": "Balkan",
                "link": "/balkan",
                "year": "2016",
                "color": "#e41a1c"
            },
            {
                "name": "Kaukasus",
                "link": "/kaukasus",
                "year": "2017",
                "color": "#ff7f00"
            }
        ]
    each expeditie in expedities
        div(id= "column" + expeditie.name class="column" style="background-color: " + expeditie.color)
            .expeditie
                h1= expeditie.year
                h2= t_ucf("expeditie") + " " + expeditie.name