extend ./structure/simple.pug

block title
    title Expeditie - Op Naar de Stans import

block styles
    include ./includes/styles

block scripts
    include ./includes/scripts

    script(src='/scripts/importStan.js')

block body
    p Enter location GPX file here:
    input#json(type='file')
    input#submit(type='submit' value='upload')
