extend structure/simple.pug

block scripts
    include includes/scripts.pug
    script(src="scripts/map/mapHome.js")

block title
    title Expeditie - Home

block body
    div(id="map")
        include includes/world.svg
