extend structure/simple.pug

block title
    title Expeditie - Route diagram

block styles
    include includes/styles.pug

    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

block scripts
    include includes/scripts.pug
    script(src='https://d3js.org/d3.v4.min.js')

    script.
        var routeData = !{JSON.stringify(route).replace(/<\//g, '<\\/')}
        var nodeData = !{JSON.stringify(nodes).replace(/<\//g, '<\\/')}

    script(src='/scripts/sockets/Sockets.js')
    script(src='/scripts/sockets/SocketHandler.js')
    script(src='/scripts/database/Tables.js')
    script(src="/scripts/routeDiagram.js")


block body
    svg(width="960" height="600")