html
  user-select: initial !important;

body
  background-color: #ffffff

*
  font-family: 'Libre Baskerville', 'Times New Roman', serif !important

h1, h2, dl, dt, dd, ol, li
  margin: 0
  padding: 0

h1
  font-size: xx-large
  font-weight: normal
  margin-top: 1em
  margin-bottom: 2em

h1 .edition
  font-size: large
  color: #666666

dt
  margin-bottom: 0.5em

dd
  margin-bottom: 2em

ol
  list-style-type: none
  padding-left: 0

li
  margin-bottom: 0.5em

.word
  font-size: x-large

.phon
  font-size: medium
  color: #666666

.audio
  font-size: medium
  color: #0066ff
  text-decoration: none

.index
  font-size: medium
  font-weight: bold
  float: left
  width: 1.5em

.def
  font-size: medium

.def strong
  font-weight: bold

.def em
  font-style: italic

.def a
  color: #000000 !important
  font-weight: bold
  text-decoration: none
