html
  height 100%
  width 100%

body
  margin 0
  padding 0
  height 100%
  width 100%

#map
  width: 100%
  height: 100%

.mapboxgl-ctrl-bottom-right div, div a
  user-select none !important

#loadingBar
  position absolute
  top 0
  left 0
  font-size 1em
  background-color #F0E68C
  text-align: center


#loadingText
  display: inline-block;
  height 100%
  vertical-align middle


.loadingSpinner
  height 1em
  width auto
  vertical-align middle
