p, a, h1, h2, h3, h4, h5, h6, div, br, li, td, article
  font-family 'Roboto', sans-serif
  select text

body
  font-family 'Roboto', sans-serif

#cookieconsent
  all: initial
  *
    font-family 'Roboto', sans-serif !important
    font-size: initial !important

@require '../../node_modules/cookieconsent/src/styles/**/*.css'
