@import "shaka-player/dist/controls.css";

html,
body,
#container,
#video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;

  background: #333;
}

#logo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 99;

  background:
    url("/static/favicons/icon-512.png") no-repeat center / 40% 40% #333;
}
