html, body
  height 100vh
  width 100vw
  margin 0
  padding 0
  overflow hidden
  box-sizing border-box

*
  box-sizing inherit

body
  display flex

#map
  width: 100%
  height: 100%
  vertical-align: top

.mapboxgl-ctrl-bottom-right div, div a
  user-select none !important

#loadingBar
  position absolute
  top 0
  left 35%
  font-size 1em
  background-color #F0E68C
  text-align: center


#loadingText
  display: inline-block;
  height 100%
  vertical-align middle


.loadingSpinner
  height 1em
  width auto
  vertical-align middle


// ---------- Story ----------

#storyWrapper
  position absolute
  width 35%
  height 100%
  scrollbar-width none
  padding 16px
  overflow-y auto

#storyTitle
  position sticky
  top -16px
  z-index 10

  margin-bottom 16px
  transition: margin 100ms, padding 100ms;


#storyTitle h1
  margin 0

#storyTitle .subtitle
  color #404040
  margin 0 0 8px 0

#storyTitle.fixed // is applied by javascript.
  margin-left -16px
  padding-left 32px

  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  border-radius 0 5px 5px 0

  background-color #f5f5f5

#story
  display flex

#graph
  min-width 150px
  display inline-block
  flex 0 0 auto
  padding 0
  margin-bottom 16px


#storyElements
  margin-left 16px

.storyElement
  margin-bottom 16px

.storyElement .header
  display flex
  justify-content space-between

.storyElement h1
  margin 0

.storyElement .time
  display inline-block
  text-align right
  margin 0
  font-size .7em
  white-space nowrap

.storyElement .people
  margin-top 0
  font-size .7em

.card
  position relative
  background-color #f5f5f5e6
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  border-radius 5px
  padding 16px
