@import "main"

$bgColor = #333
$fgColor = #fafafa

html, body
  background-color: $bgColor
  color: $fgColor
  text-align: center

.container
  padding-bottom: 5rem

.navbar
  padding: 0
  margin-top: 1.5rem
  margin-bottom: 1.5rem

.nav-link
  padding: 0 !important
  display: inline
  color: darken($fgColor, 35%)
  transition: color .15s ease-in-out

  &:hover
    color: darken($fgColor, 20%)


a.img-large, a.img-small
  display: block
  color: $fgColor
  text-decoration: none

  &:hover
    color: $fgColor
    text-decoration: none

.img-large
  margin-bottom: 6rem

.img-small
  margin-bottom: 2rem

.img-large, .img-small
  width: 100%
  height: 0
  overflow: hidden
  position: relative
  padding-bottom: 65%
  box-shadow: 0 0 30px -10px #000

.embed-responsive
  box-shadow: 0 0 30px -10px #000
  margin-bottom: 2rem

a.img-large, a.img-small
  display: block
  color: inherit
  text-decoration: inherit
  transition: box-shadow .15s ease-in-out

  @media (hover: hover)
    .img-bg
      transition: filter .15s ease-in-out

  &:hover
    color: inherit
    text-decoration: inherit
    box-shadow: 0 0 30px -5px #000

    @media (hover: hover)
      .img-bg
        filter: brightness(.85)

.img-bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.img-inner
  display: table
  position: absolute
  bottom: 0
  left: 0
  right: 0
  width: 100%

  background-color: rgba(0, 0, 0, .45)
  text-shadow: 0 0 .75em #000

.img-inner2
  display: table-cell
  vertical-align: middle
  text-align: center
  padding: 5%

.text-title, .text-subtitle
  font-weight: 400
  line-height: 1.2

.text-title
  font-size: 2rem

.text-subtitle
  font-size: 1.2rem

.img-large
  padding-bottom: 85%

  @media (min-width: 768px)
    padding-bottom: 40%

    .text-title
      font-size: 3rem

    .text-subtitle
      font-size: 1.6rem

.smallerimgs
  margin-bottom: 1.5em

.midtitle
  font-size: 1.4rem
  padding-bottom: 2rem

.btn
  margin-bottom: 1rem
  color: $fgColor
  background-color: transparent
  border-color: $fgColor

  &:focus
    box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, .5)

  &:hover, &:active
    color: $bgColor
    background-color: $fgColor

.leden
  margin-bottom: 5rem

  @media (min-width: 768px)
    margin-bottom: 2rem
    text-align: right
