@import "shaka-player/dist/controls.css";

.video-box > video {
  width: 100%;
  height: 100%;
}

.video-box button {
  text-align: center;
}

.video-box .material-svg-icon {
  box-sizing: content-box;
}
