mixin innerImage(expeditie)
    .img-bg(style=`background-image:url(${getFileUrl(expeditie.backgroundFile)})`)
    .img-inner
        .img-inner2
            span.text-title= expeditie.name
            br
            span.text-subtitle= expeditie.subtitle
