doctype html
html(lang="nl")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        include ../static/favicons/include.html

        block title

        block styles

    body
        block body

        block scripts

        script(src='/static/scripts/all.js')
