doctype html
html(lang="nl")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        meta(name="application-name" content="Expeditie Grensland")
        meta(name="apple-mobile-web-app-title" content="Expeditie Grensland")
        meta(name="theme-color" content="#000718")

        link(rel="manifest" href="/static/favicons/manifest.webmanifest")
        meta(name="msapplication-config" content="/static/favicons/browserconfig.xml")

        link(rel="shortcut icon" href="/static/favicons/favicon.ico")

        link(rel="icon" type="image/png" sizes="16x16" href="/static/favicons/icon-16.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/favicons/icon-32.png")
        link(rel="icon" type="image/png" sizes="48x48" href="/static/favicons/icon-48.png")

        link(rel="apple-touch-icon" sizes="60x60" href="/static/favicons/touch-icon-60.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/static/favicons/touch-icon-76.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/static/favicons/touch-icon-120.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/static/favicons/touch-icon-152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/static/favicons/touch-icon-180.png")

        if umami
            script(async src=umami.scriptUrl data-website-id=umami.websiteId)

        block title

        block styles

    body
        block body

        block scripts

        script(src='/static/scripts/all.js')
