extends main

block title
    title Expeditie #{expeditie.name}

append styles
    link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css")
    link(rel="stylesheet" href="/static/styles/expeditie.css")

    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

append scripts
    script.
        var expeditieNameShort = "!{expeditie.nameShort}"

    script(src="/static/scripts/expeditie.js")

block body
    #map
    #storyWrapper
        #storyTitle.card
            p.subtitle Zomer 2017
            h1 Expeditie Kaukasus
        #story
            #graph.card
            #storyElements(data-track-start-count=2)
                .card.storyElement.location(data-track-id="teheran")
                    .title
                        .header
                            h1 Teheran
                            p.time 13 december 2018
                        p.people Diederik & Matthijs
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Bakoe
                            p.time 13 december 2018
                        p.people Maurice, Ronald & Atema
                .card.storyElement.location(data-track-id="main" data-track-merge="teheran")
                    .title
                        .header
                            h1 Bakoe
                            p.time 13 december 2018
                        p.people Diederik, Matthijs, Maurice, Ronald & Atema
                .card.storyElement.text(data-track-id="main")
                    .title
                        .header
                            h1 Tbilisi
                            p.time 13 december 2018
                        p.people Diederik, Matthijs, Maurice, Ronald & Atema
                    p    Jarenlang heeft de heer M.G. Meedendorp aan deze website gewerkt, maar er moet nog veel gebeuren voordat hij de wereld kan veranderen.
                    |    Jarenlang heeft de heer M.G. Meedendorp aan deze website gewerkt, maar er moet nog veel gebeuren voordat hij de wereld kan veranderen.
                    |    Jarenlang heeft de heer M.G. Meedendorp aan deze website gewerkt, maar er moet nog veel gebeuren voordat hij de wereld kan veranderen.
                    |    Jarenlang heeft de heer M.G. Meedendorp aan deze website gewerkt, maar er moet nog veel gebeuren voordat hij de wereld kan veranderen.
                    |    Jarenlang heeft de heer M.G. Meedendorp aan deze website gewerkt, maar er moet nog veel gebeuren voordat hij de wereld kan veranderen.
                    |    Jarenlang heeft de heer M.G. Meedendorp aan deze website gewerkt, maar er moet nog veel gebeuren voordat hij de wereld kan veranderen.
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Yerevan
                            p.time 13 december 2018
                        p.people Maurice, Ronald, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Vnukovo International Airport, Moskou
                            p.time 13 december 2018
                        p.people Maurice, Ronald, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Sochi
                            p.time 13 december 2018
                        p.people Maurice, Ronald, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Sukhum
                            p.time 13 december 2018
                        p.people Maurice, Ronald, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Lake Ritsa
                            p.time 13 december 2018
                        p.people Maurice, Ronald, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Olympisch Park Sochi
                            p.time 13 december 2018
                        p.people Maurice, Ronald, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Moskou
                            p.time 13 december 2018
                        p.people Maurice, Ronald, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="boine")
                    .title
                        .header
                            h1 Finsterwolde
                            p.time 13 december 2018
                        p.people Ronald
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Minsk
                            p.time 13 december 2018
                        p.people Maurice, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Žiežmariai
                            p.time 13 december 2018
                        p.people Maurice, Atema, Matthijs & Diederik
                .card.storyElement.location(data-track-id="main")
                    .title
                        .header
                            h1 Brussel
                            p.time 13 december 2018
                        p.people Maurice, Atema, Matthijs & Diederik
    #loadingBar
        include includes/loadSpinner.pug
        #loadingText &nbsp;Loading...
