extends main

block title
    title Expeditie #{expeditie.name} Kaart

append styles
    link(rel="stylesheet" href="/static/styles/expeditieMap.css")
    link#worker(rel="prefetch" href="/static/scripts/expeditieMapWorker.js" as="worker")

append scripts
    script.
        var expeditieNameShort = "!{expeditie.nameShort}"

    script(src="/static/scripts/expeditieMap.js")

block body
    #map
