extends main

block title
    title Expeditie #{expeditie.name}

append styles
    link(rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css")
    link(rel="stylesheet" href="/static/styles/expeditie.css")

    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

append scripts
    script.
        var expeditieNameShort = "!{expeditie.nameShort}"

    script(src="/static/scripts/expeditie.js")
    script(src="/static/cesium/Cesium.js")

block body
    #map
    #loadingBar
        include includes/loadSpinner.pug
        #loadingText &nbsp;Loading...
