extends _frame

block title
    title Expeditie #{expeditie.name} Kaart

block styles
    link(rel="stylesheet" href="/static/styles/expeditieMap.css")
    link#worker(rel="prefetch" href="/static/scripts/expeditieMapWorker.js" as="worker")

block scripts
    script.
        var expeditieNameShort = "!{expeditie.nameShort}"

    script(src="/static/scripts/expeditieMap.js")

block body
    #map
    #storyWrapper(hidden)
        #storyTitle.card
            p.subtitle= expeditie.subtitle
            button.zoomout uitzoomen
            h1= expeditie.name
        #story
            #graph.card
            #storyElements
