extends main
include includes/expeditieMedia.pug

block title
    title Expeditie Grensland

append scripts
    script(src='/static/scripts/home.js')

append styles
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='/static/styles/home.css')


block body
    .container
        nav.navbar.navbar-expand
            ul.navbar-nav.ml-auto
                li.nav-item
                    if loggedIn
                        a.nav-link(href="/leden")= user.name
                    else
                        a.nav-link(href="/leden/login") Log In

        .row
            .col
                a.img-large(href=`/${expedities[0].nameShort}` style=`background-image:url(${getFileUrl(expedities[0].backgroundFile)})`)
                    +innerImage(expedities[0])


        .row
            .col.midtitle
                span Voorgaande Expedities


        .row
            each expeditie in expedities.slice(1)
                .col-12.col-md-6.col-lg-4
                    a.img-small(href=`/${expeditie.nameShort}`)
                        +innerImage(expeditie)
