doctype html
html
    head
        include ../static/favicons/include.html

        meta(name="viewport" content="height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0")

        block title
            title Expeditie

        block styles
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
            link(rel='stylesheet' href='/static/styles/all.css')


    body
        div#cookieconsent

        block body

        block scripts
            script(src='/static/scripts/all.js')
