@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";

:root {
  --sans-serif-fonts:
    "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  font: 400 1rem / 1.5 var(--sans-serif-fonts);

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #0000;
}

* {
  scroll-behavior: smooth;
}

ol,
ul,
menu,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
th,
td {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

a {
  color: inherit;
}

a[href],
a[href]:hover,
a[href]:focus {
  text-decoration: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font: inherit;
  text-align: inherit;
}

button,
::file-selector-button {
  appearance: button;
  -webkit-appearance: button;
  font: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

[hidden] {
  display: none;
}

table {
  border-collapse: collapse;
}

@media (prefers-reduced-motion: reduce) {
  * {
    /** biome-ignore lint/complexity/noImportantStyles: resetting all */
    scroll-behavior: auto !important;
    /** biome-ignore lint/complexity/noImportantStyles: resetting all */
    transition: none !important;
  }
}

*:focus,
*:focus-visible {
  outline: none;
}
