extends ../members/_frame
include ../_expeditieMedia

block title
    title Expeditie - Admin - Bestanden

block content
    - const fileTypes = {}
    - fileTypes["film-hls"] = "Film in HLS-formaat"
    - fileTypes["achtergrond"] = "Achtergrond"
    - fileTypes["image"] = "Afbeelding"
    - fileTypes["video"] = "Video"
    - fileTypes["audio"] = "Audio"

    - const useTypes = {}
    - useTypes["expeditie/background"] = "Achtergrond voor expeditie %"
    - useTypes["expeditie/movie"] = "Film voor expeditie %"
    - useTypes["word/attachment"] = "Bijlage voor woord '%'"
    - useTypes["quote/attachment"] = "Bijlage voor quote '%'"
    - useTypes["story/media"] = "Media voor verhaal bij expeditie %"

    .row
        .col-12.mb-4
            .h1 Bestanden

        .col-12.mb-4
            hr
            .h2.mb-3 Lijst van bestanden op S3
            table.table.table-sticky-header
                thead
                    tr
                        th(style='min-width: 20rem') Sleutel (prefix)
                        th(style='min-width: 10rem') Type
                        th(style='min-width: 15rem') In gebruik als

                tbody
                    each file, i in filesWithUses
                        tr
                            td.py-4=file.file
                            td=(fileTypes[file.type] || `Onbekend (${file.type})`)
                            td
                                if file.uses
                                    each use in file.uses
                                        p.my-1=(useTypes[use.type] || "").replace("%", use.name)
                                else
                                    p.my-1 —

                            
