transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
  
filter()
  -webkit-filter arguments
  -moz-filter arguments
  -o-filter arguments
  -ms-filter arguments
  filter arguments

transform()
  -webkit-transform-origin: arguments
  -moz-transform-origin: arguments
  -ms-transform-origin: arguments
  -o-transform-origin: arguments
  transform-origin: arguments

body
  margin 0
  padding 0
  height 100%
  overflow hidden
  font-family 'Roboto', sans-serif
  white-space nowrap
  text-align center

.column
  display inline-block
  position relative
  overflow hidden
  white-space normal
  transform translate(0,0,0)

  transition filter .5s, transform 1s
  outline none

.background
  width: inherit
  height: inherit
  min-width: inherit
  background-size auto 100%
  background-repeat no-repeat
  filter brightness(0.8)
  transition inherit

.expeditie
  display block
  position absolute
  height auto
  top 14%
  width inherit
  min-width inherit

  h1, h2
    color: white

#columns:hover .column:not(.clicked)
  filter brightness(0.7)

  .background
    filter contrast(1.25) brightness(0.4) saturate(1.25)

.column:hover
  cursor pointer
  filter none !important

  .background
    filter brightness(0.8)!important

.column.clicked
  z-index: 100 !important

.column.notclicked
  filter brightness(0) !important

#closeOverlay
  position absolute
  top 5vh
  right 5vw
  width 10px
  height 10px
  z-index 1000
  color whitesmoke
  font-size 50px
  cursor pointer

.hidden
  display none

#mapContainer
  position: absolute
  right: 0
  top: 0
  bottom: 0

#map
  border 0
  width 100%
  height 100%