transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
  
filter()
  -webkit-filter arguments
  -moz-filter arguments
  -o-filter arguments
  -ms-filter arguments
  filter arguments

body
  margin 0
  padding 0
  height 100%
  max-height 100vh
  overflow hidden
  font-family 'Roboto', sans-serif
  white-space nowrap
  text-align center

.column
  display inline-block
  position relative
  width 33.33333vw
  min-width 20vw
  overflow hidden
  white-space normal

  transition filter 1s
  outline none

.background
  width: inherit
  height: inherit
  min-width: inherit
  background-size auto 100%
  background-repeat no-repeat

  filter none

.expeditie
  display block
  position absolute
  height auto
  bottom 10%
  width inherit
  min-width inherit
  background-color: rgba(66, 66, 66, 0.5)

  h1, h2
    color: white

