column-width=480

transition_all()
  -webkit-transition all 2s
  -moz-transition all 2s
  -ms-transition all 2s
  -o-transition all 2s
  transition all 2s

transitions()
  -webkit-transition all 2s, arguments
  -moz-transition all 2s, arguments
  -ms-transition all 2s, arguments
  -o-transition all 2s, arguments
  transition all 2s, arguments

body
  margin 0
  padding 0
  height 100%
  max-height 100vh
  overflow hidden
  font-family 'Roboto', sans-serif
  white-space nowrap
  text-align center

#columns
  transition_all()

.column
  display inline-block
  position relative
  width column-width px
  overflow hidden
  white-space normal
  background-size auto 100%
  background-repeat no-repeat

  transitions opacity 1s

.expeditie
  display block
  position absolute
  height auto
  bottom 10%
  width inherit
  background-color: rgba(66, 66, 66, 0.5)

  min-height 0

  transitions bottom 1s, min-height .6s, background-color 1s

  .expeditie-text
    color: white

.slick-current .expeditie:hover
  min-height: 90%
  bottom: 0
  background-color: rgba(66, 66, 66, 0.8)

.slick-slide:not(.slick-current)
  opacity: .6
  -webkit-filter contrast(1.25) brightness(0.4) saturate(1.25)
  -moz-filter contrast(1.25) brightness(0.4) saturate(1.25)
  -o-filter contrast(1.25) brightness(0.4) saturate(1.25)
  -ms-filter contrast(1.25) brightness(0.4) saturate(1.25)

.slick-current
  opacity: 1
  -webkit-filter none
  -moz-filter none
  -o-filter none
  -ms-filter none
  filter none

.slick-current .expeditie
  cursor pointer

.column, .slick-slide
  height: 100vh

.slick-dots
  bottom: 10px

.slick-dots li button:before
  color white
  opacity 1