html
  box-sizing: border-box;

*, *:before, *:after
  box-sizing: inherit;

#map
  height: 100%
  width: auto

#svgmap
  display:block
  height: 100%
  width: auto
  max-width: 100%
  margin: auto
  stroke-width: .3px
  fill: #f2f2f2
  fill-rule: evenodd
  stroke: #000
  stroke-linejoin: round

path {
  -webkit-transition: all .2s ease-in-out
  -moz-transition: all .2s ease-in-out
  -ms-transition: all .2s ease-in-out
  -o-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
}

path.animate {
  stroke-width: 1px
  stroke: #000 !important
}

#layer_1
  shape-rendering: crispEdges //This solves a weird bug where only layer 0 is affected by the stroke-width attribute by forcing the browser to render edges as thin as possible