transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

.slick-slide:not(.slick-current)
  filter brightness(0.7)

  .background
    filter contrast(1.25) brightness(0.4) saturate(1.25)
.slick-list
  padding 0 !important

.slick-track
  transition transform 300ms ease, left 300ms ease !important

.slick-track.track-begin
  -webkit-transform: translate3d(0, 0, 0) !important
  -moz-transform: translate3d(0, 0, 0) !important
  -ms-transform: translate3d(0, 0, 0) !important
  -o-transform: translate3d(0, 0, 0) !important
  transform: translate3d(0, 0, 0) !important

.slick-track.track-end
  -webkit-transform: translate3d(-20vw, 0, 0) !important
  -moz-transform: translate3d(-20vw, 0, 0) !important
  -ms-transform: translate3d(-20vw, 0, 0) !important
  -o-transform: translate3d(-20vw, 0, 0) !important
  transform: translate3d(-20vw, 0, 0) !important
  
.slick-current
  filter none

.column, .slick-slide
  height: 100vh

.slick-dots
  bottom: 10px

.slick-dots li button:before
  color white
  opacity .9
  font-size 8px
  width 20px
  height 20px

.slick-dots li.slick-active button:before
  font-size 15px
  color white
  opacity 1